body {
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    background: #faf8ef;
}
.container {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.score-container {
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 22px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

@-webkit-keyframes move-up {
    0% { top: 25px; opacity: 1; }
    100% { top: -50px; opacity: 0; }
}

.score-container .score-addition {
    position: absolute;
    margin-left: 100px;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
}

.board {
    width: 500px;
    height: 500px;
    position: relative;
    background: #bbada0;
    padding: 15px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.73);
    z-index: 100;
    padding-top: 40px;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
}

.restart-button {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-top: -70px;
}

.game-message.game-over {
    display: block;
}

.game-message p {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 20%;
}

.grid-container {
    position: absolute;
    z-index: 1;
}

.tile-container {
    position: absolute;
    z-index: 2;
}

.tile {
    position: absolute;
    -webkit-transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
}

.tile, .tile .tile-inner {
    width: 107px;
    height: 107px;
    line-height: 107px;
}

.tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px;
}

.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}

.moving {
    -webkit-transform: translateX(350px);
    -webkit-transition: 170ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
}

@-webkit-keyframes appear {
    0% { opacity: 0; -webkit-transform: scale(0); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}
.new .tile-inner {
    -webkit-animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.15s;
    -webkit-transform: scale(0);
}

@-webkit-keyframes pop {
    0% { -webkit-transform: scale(0); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}

.merged .tile-inner {
    z-index: 20;
    -webkit-animation: pop 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
}

.tile-2 .tile-inner { background: #eee4da; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
.tile-4 .tile-inner { background: #ede0c8; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
.tile-8 .tile-inner { color: #f9f6f2; background: #f2b179; }
.tile-16 .tile-inner { color: #f9f6f2; background: #f59563; }
.tile-32 .tile-inner { color: #f9f6f2; background: #f67c5f; }
.tile-64 .tile-inner { color: #f9f6f2; background: #f65e3b; }
.tile-128 .tile-inner { color: #f9f6f2; background: #edcf72; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); font-size: 45px; }
.tile-256 .tile-inner { color: #f9f6f2; background: #edcc61; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048); font-size: 45px; }
.tile-512 .tile-inner { color: #f9f6f2; background: #edc850; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381); font-size: 45px; }
.tile-1024 .tile-inner { color: #f9f6f2; background: #edc53f; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571); font-size: 35px; }
.tile-2048 .tile-inner { color: #f9f6f2; background: #edc22e; box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); font-size: 35px; }

.tile.tile-position-col-1-row-1{ -webkit-transform: translate(0px, 0px); }
.tile.tile-position-col-1-row-2{ -webkit-transform: translate(0px, 121px); }
.tile.tile-position-col-1-row-3{ -webkit-transform: translate(0px, 242px);  }
.tile.tile-position-col-1-row-4{ -webkit-transform: translate(0px, 363px); }
.tile.tile-position-col-2-row-1{ -webkit-transform: translate(121px, 0px); }
.tile.tile-position-col-2-row-2{ -webkit-transform: translate(121px, 121px); }
.tile.tile-position-col-2-row-3{ -webkit-transform: translate(121px, 242px); }
.tile.tile-position-col-2-row-4{ -webkit-transform: translate(121px, 363px); }
.tile.tile-position-col-3-row-1{ -webkit-transform: translate(242px, 0px); }
.tile.tile-position-col-3-row-2{ -webkit-transform: translate(242px, 121px); }
.tile.tile-position-col-3-row-3{ -webkit-transform: translate(242px, 242px); }
.tile.tile-position-col-3-row-4{ -webkit-transform: translate(242px, 363px); }
.tile.tile-position-col-4-row-1{ -webkit-transform: translate(363px, 0px); }
.tile.tile-position-col-4-row-2{ -webkit-transform: translate(363px, 121px); }
.tile.tile-position-col-4-row-3{ -webkit-transform: translate(363px, 242px); }
.tile.tile-position-col-4-row-4{ -webkit-transform: translate(363px, 363px); }
